@{
    Layout = "_LayoutNotLogged";
    ViewData["Title"] = "Forgot Password";
}


<div class="container">
    <!-- Begin Page Content -->




    <div class="row justify-content-center align-items-center">

        <!-- Begin Page Content -->
        <!-- column -->
        <div class="col-6 align-self-center">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title"></h4>
                            <h4 class="card-subtitle">Password Form</h4>
                        </div>
                    </div>
                    <!-- title -->
                </div>
                <div class="table-responsive px-5">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td colrow="1">

                                    <form class="well form-horizontal ">
                                        <fieldset>
                                            <div class="form-group d-flex justify-content-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="champSearch" id="emailRb" value="email" checked>
                                                    <label class="form-check-label" for="emailRb">Email</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="champSearch" id="nameRb" value="name">
                                                    <label class="form-check-label" for="nameRb">Name</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="col-3 control-label col-form-label">Name</label>
                                                    <input id="nameOrg" name="nameOrg"
                                                           placeholder="Name"
                                                           class="form-control" required="true"
                                                           value="" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="col-3 control-label col-form-label">Code </label>
                                                    <input id="CodePasswordOrg"
                                                           name="CodePasswordOrg"
                                                           placeholder="xxxxxxx" disabled
                                                           class="form-control" required="true"
                                                           value="" type="text">
                                                </div>
                                            </div>

                                        </fieldset>

                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary my-2 px-5 ">Submit</button>
                                        </div>
                                        <div class="dl mt-3 d-flex justify-content-between">
                                            <div>
                                                <a asp-controller="Authentification" asp-action="Login" class="forgot-password-link">
                                                    <h5> I want to login ?</h5>
                                                </a>
                                            </div>

                                            <div>
                                                <a asp-controller="Authentification" asp-action="Register" class="user-signup-link">
                                                    <h5> I want to register ? </h5>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>





    <!-- /.container-fluid -->

</div>