@{
    Layout = "_LayoutNotLogged";
    ViewData["Title"] = "Login ";
}


<div class="container">
    <!-- Begin Page Content -->


    <div class="row justify-content-center align-items-center">

        <!-- Begin Page Content -->
        <!-- column -->
        <div class="col-6 align-self-center">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title"></h4>
                            <h4 class="card-subtitle">Login Form</h4>
                        </div>
                    </div>
                    <!-- title -->
                </div>
                <div class="table-responsive px-5">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td colrow="1">

                                    <form class="well form-horizontal ">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="col-3 control-label col-form-label">Name</label>
                                                    <input id="nameOrg" name="nameOrg"
                                                           placeholder="Name"
                                                           class="form-control" required="true"
                                                           value="" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="col-3 control-label col-form-label">Password</label>
                                                    <input id="PasswordOrg"
                                                           name="PasswordOrg"
                                                           placeholder="Password"
                                                           class="form-control" required="true"
                                                           value="" type="text">
                                                </div>
                                            </div>

                                        </fieldset>

                                        <div class="custom-control custom-checkbox my-1 ml-3">
                                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                                            <label class="custom-control-label" for="customControlInline">Remember my preference</label>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary my-2 px-5 ">Login</button>
                                        </div>
                                        <div class="dl mt-3 d-flex justify-content-between">
                                            <div>
                                                <a asp-controller="Authentification" asp-action="ForgotPassword">
                                                    <h5> I forgot my password ?</h5>
                                                </a>
                                            </div>

                                            <div>
                                                <a asp-controller="Authentification" asp-action="Register">
                                                    <h5> I want to register ? </h5>
                                                </a>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="d-flex justify-content-center mt-2">
                                        <a asp-controller="Home" asp-action="Index">
                                            <button type="submit" class="btn btn-primary my-2 px-5 ">Login</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>



    <!-- /.container-fluid -->

</div>