@{
    Layout = "_LayoutNotLogged";
    ViewData["Title"] = "Register";
}


<div class="container">
    <!-- Begin Page Content -->



    <div class="container-fluid p-0 px-lg-0 px-md-0">

        <div class="container">

            <!-- Begin Page Content -->
            <div class="container-fluid px-lg-4">
                <div class="row">
                    <div class="col-md-12 mt-lg-4 mt-4">
                        <!-- column -->
                        <div class="col-md-12 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <!-- title -->
                                    <div class="d-md-flex align-items-center">
                                        <div>
                                            <h4 class="card-title"></h4>
                                            <h4 class="card-subtitle">Registration</h4>
                                        </div>
                                    </div>
                                    <!-- title -->
                                </div>
                                <div class="table-responsive">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td colspan="1">
                                                    <form class="well form-horizontal">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">Name</label>
                                                                    <input id="nameOrg" name="nameOrg"
                                                                           placeholder="Name"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">Affiliation</label>
                                                                    <input id="AffiliationOrg"
                                                                           name="AffiliationOrg"
                                                                           placeholder="Affiliation"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Field Of
                                                                        Activity
                                                                    </label>
                                                                    <input id="FieldOfActivityOrg"
                                                                           name="FieldOfActivityOrg"
                                                                           placeholder="Field Of Activity"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">Address</label>
                                                                    <input id="addressOrg" name="addressOrg"
                                                                           placeholder="Address"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">City</label>
                                                                    <input id="city" name="city"
                                                                           placeholder="City"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Postal
                                                                        Code/ZIP
                                                                    </label>
                                                                    <input id="postcode" name="postcode"
                                                                           placeholder="Postal Code/ZIP"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">Country</label>
                                                                    </span>
                                                                    <select class="selectpicker form-control">
                                                                        <option value="0" selected>Select your Country</option>
                                                                        <option value="1">
                                                                            Ivory Coast
                                                                        </option>
                                                                        <option value="2">
                                                                            Tunisia
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">Email</label>
                                                                    <input id="email" name="email"
                                                                           placeholder="Email"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Phone
                                                                        Number
                                                                    </label>
                                                                    <input id="phoneNumber" name="phoneNumber"
                                                                           placeholder="Phone Number"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Person To
                                                                        Contact
                                                                    </label>
                                                                    <input id="PersonToContact"
                                                                           name="PersonToContact"
                                                                           placeholder="Person To Contact"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Contact
                                                                        Mail
                                                                    </label>
                                                                    <input id="ContactMail" name="ContactMail"
                                                                           placeholder="Contact Mail"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Contact
                                                                        Phone
                                                                    </label>
                                                                    <input id="ContactPhone"
                                                                           name="ContactPhone"
                                                                           placeholder="Contact Phone"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Contact
                                                                        Position
                                                                    </label>
                                                                    <input id="ContactPosition"
                                                                           name="ContactPosition"
                                                                           placeholder="Contact Position"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Register Demand
                                                                        Date
                                                                    </label>
                                                                    <input id="RegDemandDate"
                                                                           name="RegDemandDate"
                                                                           placeholder="Register Demand Date"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Register Demand
                                                                        Decision
                                                                    </label>
                                                                    <input id="RegDemandDate"
                                                                           name="RegDemandDecision"
                                                                           placeholder="Register Demand Decision"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="col-3 control-label col-form-label">
                                                                        Register Demand
                                                                        Decision Date
                                                                    </label>
                                                                    <input id="RegDemandDate"
                                                                           name="RegDemandDecisionDate"
                                                                           placeholder="Register Demand Decision Date"
                                                                           class="form-control" required="true"
                                                                           value="" type="text">
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                        <div class="ml-auto d-flex justify-content-end">
                                                            <div class="dl">

                                                                <a asp-controller="Authentification" asp-action="RegisterConfirm"><button class="btn btn-primary mx-2">Review</button></a>
                                                                <a asp-controller="Authentification" asp-action="Login"><button class="btn btn-danger mx-2">Cancel</button> </a>
                                                            </div>
                                                        </div>
                                                    </form>

                                                    <div class="ml-auto mt-5 d-flex justify-content-end">
                                                        <div class="dl">

                                                            <a asp-controller="Authentification" asp-action="RegisterConfirm"><button class="btn btn-primary mx-2">Review</button></a>
                                                            <a asp-controller="Authentification" asp-action="Login"><button class="btn btn-danger mx-2">Cancel</button> </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
        </div>








    </div>




    <!-- /.container-fluid -->

</div>