@{
    Layout = "_LayoutNotLogged";
    ViewData["Title"] = "Reset Password";
}


<div class="container">
    <!-- Begin Page Content -->




    <div class="row justify-content-center align-items-center">

        <!-- Begin Page Content -->
        <!-- column -->
        <div class="col-6 align-self-center">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title"></h4>
                            <h4 class="card-subtitle">New Password Form</h4>
                        </div>
                    </div>
                    <!-- title -->
                </div>
                <div class="table-responsive px-4">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td colrow="1">

                                    <form class="well form-horizontal ">
                                        <fieldset>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="col-4 control-label col-form-label">New Password</label>
                                                    <input id="password" name="password"
                                                           placeholder="New Password"
                                                           class="form-control" required="true"
                                                           value="" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="col-4 control-label col-form-label">Confirm Password </label>
                                                    <input id="confirmPassword"
                                                           name="confirmPassword"
                                                           placeholder="Confirm Password"
                                                           class="form-control" required="true"
                                                           value="" type="text">
                                                </div>
                                            </div>

                                        </fieldset>

                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary my-2 px-5 ">Submit</button>
                                        </div>

                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>








    <!-- /.container-fluid -->

</div>