@{
    ViewData["Title"] = "Detail Demande";
}


<div class="container">
    <!-- Begin Page Content -->
    <!-- Begin Page Content -->
    <div class="container-fluid px-lg-4">
        <div class="row">
            <div class="col-md-12 mt-lg-4 mt-4">
                <!-- column -->
                <div class="col-md-12 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <!-- title -->
                            <div class="d-md-flex align-items-center">
                                <div>
                                    <h4 class="card-title"></h4>
                                    <h5 class="card-subtitle">Detail Organisation Nom Here</h5>
                                </div>
                                <div class="ml-auto">
                                    <div class="dl">

                                        <button type="submit" class="btn btn-success">Accepter</button>
                                        <button type="submit" class="btn btn-warning">Refuser</button>
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </div>
                                </div>
                            </div>
                            <!-- title -->
                        </div>
                        <div class="table-responsive">

                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td colspan="1">
                                            <form class="well form-horizontal">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">Name</label>
                                                            <input readonly
                                                                   id="nameOrg" name="nameOrg"
                                                                   placeholder="Name"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">Affiliation</label>
                                                            <input readonly
                                                                   id="AffiliationOrg"
                                                                   name="AffiliationOrg"
                                                                   placeholder="Affiliation"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Field Of
                                                                Activity
                                                            </label>
                                                            <input readonly
                                                                   id="FieldOfActivityOrg"
                                                                   name="FieldOfActivityOrg"
                                                                   placeholder="Field Of Activity"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">Address</label>
                                                            <input readonly
                                                                   id="addressOrg" name="addressOrg"
                                                                   placeholder="Address"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">City</label>
                                                            <input readonly
                                                                   id="city" name="city"
                                                                   placeholder="City"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Postal
                                                                Code/ZIP
                                                            </label>
                                                            <input readonly
                                                                   id="postcode" name="postcode"
                                                                   placeholder="Postal Code/ZIP"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">Country</label>
                                                            <input readonly
                                                                   id="Country" name="Country"
                                                                   placeholder="Tunisia"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">Email</label>
                                                            <input readonly
                                                                   id="email" name="email"
                                                                   placeholder="Email"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Phone
                                                                Number
                                                            </label>
                                                            <input readonly
                                                                   id="phoneNumber" name="phoneNumber"
                                                                   placeholder="Phone Number"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Person To
                                                                Contact
                                                            </label>
                                                            <input readonly
                                                                   id="PersonToContact"
                                                                   name="PersonToContact"
                                                                   placeholder="Person To Contact"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Contact
                                                                Mail
                                                            </label>
                                                            <input readonly
                                                                   id="ContactMail" name="ContactMail"
                                                                   placeholder="Contact Mail"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Contact
                                                                Phone
                                                            </label>
                                                            <input readonly
                                                                   id="ContactPhone"
                                                                   name="ContactPhone"
                                                                   placeholder="Contact Phone"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Contact
                                                                Position
                                                            </label>
                                                            <input readonly
                                                                   id="ContactPosition"
                                                                   name="ContactPosition"
                                                                   placeholder="Contact Position"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Register Demand
                                                                Date
                                                            </label>
                                                            <input readonly
                                                                   id="RegDemandDate"
                                                                   name="RegDemandDate"
                                                                   placeholder="Register Demand Date"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Register Demand
                                                                Decision
                                                            </label>
                                                            <input readonly
                                                                   id="RegDemandDate"
                                                                   name="RegDemandDecision"
                                                                   placeholder="Register Demand Decision"
                                                                   class="form-control" required="true"
                                                                   value="" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <label class="col-3 control-label col-form-label">
                                                                Register Demand
                                                                Decision Date
                                                            </label>
                                                            <input readonly
                                                                   id="RegDemandDate"
                                                                   name="RegDemandDecisionDate"
                                                                   placeholder="Register Demand Decision Date"
                                                                   class="form-control" required
                                                                   value="" type="text">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!-- /.container-fluid -->

    </div>

    <!-- /.container-fluid -->

</div>
